/*Se establecieron los aspectos deseados para cada elemento en la pagina web*/
h1
{
    color: #FFF;
    font-size: 30px;
    background: black;
    text-align: center;
    font-family: Cambria;
}

form
{
  margin:0 auto;
  text-align: center;
  background-color:#fff;   
}

body
{
   background-color:aqua;
}